{{!-- <ul>
  {{#each records}}
    <li>
      {{ this.name }}
    </li>
  {{/each}}  
</ul> --}}

<ol class="list-group">
  {{#each record}}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto fs-4">
        <div class="fw-bold ">{{ this.name }}</div>
        {{ this.date }}
      </div>
      <span class="text-primary fs-4 me-2 m-auto">{{ this.amount }}元</span>
      <div class="col-auto my-auto">
        <a class="btn btn-success" href="/records/{{this._id}}/edit">edit</a>
        <form action="" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </li>
  {{/each}}
</ol>
<div class="text-center">
  <a href="/records/new" class="btn btn-primary mt-2">增加支出</a>
</div>




